.headerContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  padding-bottom: 30px;
  margin: 0;
}
.headerItem {
  width: 800px;
  padding: 5px;
}
.headerItem > img {
  width: auto;
  height: 30px;
  object-fit: contain;
}

.headerButtonContainer {
  background-color: #182933;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  margin: 0;
}
.headerButtonDiv {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-bottom: 20px;
  margin: 0;
  color: white !important;
}

.headerButtonDiv > Button {
  color: white !important;
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font: 6.5rem "Roboto", sans-serif;
  color: #182933;
}

.MuiSvgIcon-root {
  color: white !important;
}

.MuiTablePagination-toolbar {
  color: white !important;
}

@media screen and (max-width: 600px) {
  .headerContainer {
    display: flex;
  }
  .headerItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .headerItem > img {
    margin-left: 0%;
    margin-right: 20px;
    width: 120px;
    height: 25px;
    object-fit: contain;
  }
  .headerButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
    margin: 0;
  }
  .headerButtonDiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    padding-bottom: 20px;
    margin: 0;
    color: white !important;
  }
  .headerButtonDiv > Button {
    width: 100%;
    font-size: small !important;
  }
}
